/* RESET */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* LAYOUT */
.notes-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: #fff;
  padding: 20px;
}

.main-content {
  flex: 1;
  background: #dae5f5;
}

.fallback-page {
  display: flex;
}

/* Hide fallback when group selected */
.notes-page.group-selected .fallback-page {
  display: none !important;
}

/* Show fallback on mobile only when NO group selected */
@media (max-width: 768px) {
  .notes-page.no-group-selected .fallback-page {
    display: flex !important;
    width: 100%;
    height: 100%;
  }
}
